[2015-11-26 14:23] andrei512 opened #1 "Title isn't centered on iPhone 6/6+"
![screen_shot_2015-11-26_at_12 48 04_am](https://cloud.githubusercontent.com/assets/1370375/11423629/be0c9012-944e-11e5-95e5-e66d7d3e0751.png)

[2015-12-02 09:13] vtourraine commented on #1
Thanks for the feedback. The title for this controller is just the system `title` property, so we’re not managing alignement in itself.

I can see two reasons:

- Extra space characters at the beginning of the title string being parsed from the plist. I’ve never seen this behavior, but it might depend on your CocoaPods version, or maybe Swift version.
- The back button item title is present but no

[2016-01-22 21:39] bryanbartow opened #3 "Subclass?"
I've been trying to subclass ```AcknowListViewController``` so I can customize the textLabel appearance in the ```cellForRowAtIndexPath``` method.  Unfortunately, I can't seem to get past the ```must call designated initializer method``` error. I've tried calling / overriding every combination of init method I can think of. Is there any way to subclass this? I can't think of any other way to get t

[2016-01-26 23:23] bryanbartow commented on #3
@vtourraine?

[2016-01-27 13:16] vtourraine commented on #3
I’m not very familiar with Swift (yet), so I don’t really know how to solve this situation.

If you just need to customize the cells, you shouldn’t need to touch the controller initializers. When does this error occur exactly (compile, run time, where)?

[2016-01-27 13:36] bryanbartow commented on #3
@vtourraine The error is at compile time. I'd rather not touch the initializers, but Swift requires the subclass to implement them.

[2016-01-27 13:58] vtourraine commented on #3
Alright. Have you tried with the initializers from `AcknowListViewController`? It already has to override a couple of initializers from its superclass.

[2016-01-27 14:01] bryanbartow commented on #3
@vtourraine Yes, I've tried with and without those initializers.

[2016-01-27 18:23] vtourraine commented on #3
Got this to compile:

[code]

The current initializers configuration might be problematic for people using Storybards/XIBs. Room for improvements, as always.

[2016-01-27 19:11] bryanbartow commented on #3
@vtourraine That worked! I could swear I tried it already, but oh well. Thanks. I'll leave it up to you whether you want to close this ticket or not.

[2016-01-28 08:40] vtourraine commented on #3
Great, happy to hear that.

I’ll close this issue, but it got me thinking about the initializers configuration (designated/convenience/etc), and I might change all that for a future version. If someone more comfortable with Swift than me can figure out a better solution, pull-requests are welcome.

[2016-01-28 08:40] #3 closed

[2016-01-28 08:41] vtourraine commented on #1
Closing it for now. Feel free to ask me to reopen this issue if the problem persists.

[2016-01-28 08:41] #1 closed

[2016-02-28 13:53] OliverZiegler opened #5 "Unrecognised selector"
When tapping on TableFooter, my app crashes with following output:

`Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '-[AcknowList.AcknowListViewController openCocoaPodsWebsite]: unrecognized selector sent to instance 0x7fc56aceaf80'`

I think the line

`let tapGestureRecognizer = UITapGestureRecognizer(target: self, action: "openCocoaPodsWebsite")`

should be

`let

[2016-02-29 08:39] #5 closed

[2016-03-22 14:33] vtourraine opened #7 "Update selector syntax for Swift 2.2"
New syntax for selectors with Swift 2.2 / Xcode 7.3.

See: https://github.com/apple/swift-evolution/blob/master/proposals/0022-objc-selectors.md

[2016-03-26 13:52] #7 closed

[2016-04-01 17:16] gerbiljames opened #13 "Customisation of cells on AcknowListViewController"
I've had a think about this one and I'm just not sure about how to do it. I tried subclassing `UITableViewCell` and using `UIAppearance` but for some reason `UITableViewCell`s dont support it for most of their properties.

One way of offering this would be to provide a `UITableViewCell` subclass (`AcknowCell`) which has a customisation function which can be overridden. My issue with this is how sh

[2016-04-07 07:53] vtourraine commented on #13
It’s been a frequent interrogation on the original Objective-C [project](https://github.com/vtourraine/VTAcknowledgementsViewController).

Having a “class” parameter isn’t a well-established UIKit pattern (you can find it in AppKit, for `NSControl` and `NSCell`, but that’s not a great example to follow IMO).

I’d prefer to keep the table view controller as simple as possible, while letting the doo

[2016-04-07 09:33] vtourraine commented on #13
Looked into `UIAppearance` ([doc](https://developer.apple.com/library/ios/documentation/UIKit/Reference/UIAppearance_Protocol/index.html)), and you’re right, it’s too limited for table view cells.

[2016-04-17 13:50] gerbiljames commented on #13
You're right about subclassing being the right way to go. I implemented it in my own project and it worked fine apart from being forced to implement some constructors on my subclass which shouldnt have been necessary. This was due to the same irregularity around the `init(coder:)` constructor which I found when writing the localization tests and will be fixed in 0.3.

[2016-04-17 13:50] #13 closed

[2016-04-17 15:40] vtourraine commented on #13
Speaking of which, time to release 0.3. It should be available now.

[2016-05-13 06:25] orschaef opened #15 "Possibility to provide own localization"
The latest AcknowList update changed my navigationItem title to "Danksagungen" for German localization. This translation is not completely wrong but you would often use another word (like "Lizenzen" what equals "licences")

I would prefer to provide my own localization.

Suggestions:

* Give possibility to ship a custom .strings file
or
* Provide public properties to set the title

[2016-05-13 08:17] vtourraine commented on #15
That’s a totally legitimate request, and I think you just need to update the `title` property (inherited from `UIViewController`).

[2016-05-18 12:16] orschaef commented on #15
Well, yes ... thats ok for this certain case. It was too obvious ;) But maybe it makes sense to provide certain properties or any functionality to solve this better in the future?

[2016-05-18 12:30] vtourraine commented on #15
Glad to hear that it works.

I’d be happy to improve this use-case, but I don’t want to duplicate an existing property. Do you have any suggestion on how to better address this issue? Maybe we should simply mention this possibility in the readme?

[2016-05-27 12:17] orschaef commented on #15
Sorry for the late response.

Right at the moment I have no better idea. Let's close the issue for now. If I come around with THE SOLUTION™ I'll contact you again ;-)

[2016-05-27 20:56] #15 closed

[2016-09-05 20:00] honkmaster opened #18 "AcknowList is not supported by Xcode 8 (Swift 2.3 required)"
Xcode 8 only supports development in projects with Swift 2.3 or Swift 3.0. As AcknowList is build with Swift 2.2 it can currently not be used in Xcode 8. A syntax update can be done automatically and would be greatly appreciated. How is your opinion?

[2016-09-06 07:27] vtourraine commented on #18
We have a [`swift-3`](https://github.com/vtourraine/AcknowList/tree/swift-3) branch, and it should compile with Xcode 8 beta 6.

Do you think I should merge this into master as soon as the Xcode 8 GM gets available, and push a new pod update? That seems reasonable, but on the other hand I'm not sure if everybody is ready to switch to Swift 3 on day 1.

[2016-09-06 11:28] honkmaster commented on #18
From what I read Xcode 8 ships with Swift 2.3 and Swift 3. By default Swift 3 is activated and you have to set `Use Legacy Swift Language Version` to even use 2.3. Therefore I would recommend merging it as soon as Xcode goes GM.

[2016-09-06 11:51] vtourraine commented on #18
That's interesting. So I should probably ship a version for Swift 2.3 then another one with Swift 3, to let people stick with 2.3 for a while if they want/need. Thanks for the feedback!

[2016-09-06 12:04] vtourraine commented on #18
Well, I've just ran the Xcode 8 Swift 2.3 conversion assistant, and the result is: "No source changes necessary".

Simply need to update the README, I guess. I'll still probably push it as a new version, just to mark a release with Swift 2.3.

[2016-09-17 22:23] robbiet480 commented on #18
Are there plans to publish the Swift 2.3 or 3 versions on CocoaPods? From looking at the projects I'm using it seems most are publishing Swift 3 to CocoaPods and any Swift 2.3 users specify a specific 2.3 branch.

[2016-09-19 19:22] vtourraine commented on #18
Alright, Xcode 8, here we come. 🎉

I've published `1.0.2` for Swift 2.3, then `1.1` for Swift 3. If someone needs to stick to an older version, this will require a specific past AcknowList version from now on.

[2016-09-19 19:22] #18 closed

[2016-09-20 09:32] solidfox opened #19 "1.1 violates semantic versioning"
Thanks for being so quick to upgrade to Swift 3.0! With the risk of sounding ungrateful semantic versioning (which CocoaPods uses) dictates no breaking changes in minor version increments so the way I see it 1.1 should really be 2.0 so people don't get attacked by compile errors when running pod update.

http://semver.org

[2016-09-20 11:45] vtourraine commented on #19
Thanks for the feedback! I actually wondered about that. That's a tricky case, because the library interface itself is the same, it's "just" that you need a new compiler (a.k.a. Xcode 8). Maybe I made the wrong decision here, and I'm sorry if it's causing more confusion.

Out of curiosity, have you seen this particular case being discussed somewhere else?

[2016-09-20 11:52] solidfox commented on #19
Indeed your reasoning does make sense, I was also a bit unsure how this Swift 3.0 transition would happen at first but the big frameworks like Alamofire and RxSwift seem to be all bumping the major version.

This makes sense since most people will have their pods configured as '~> 1.0' which should mean "anything compatible with the 1.0 syntax". This makes for a controlled transition where users o

[2016-09-20 11:59] vtourraine commented on #19
Agreed. Well, I'll try to remember that next year for Swift 4. The more you know... 💡

[2016-09-20 11:59] #19 closed

[2016-10-07 16:44] AmauryVela opened #20 "Example Issue"

[2016-10-08 16:10] vtourraine commented on #20
Thanks for opening an issue, but could you give us a bit of context?

[2016-10-12 05:37] liyukuang opened #21 "version 1.1 is still asked by Xcode to convert to swift 3"

[2016-10-12 14:10] vtourraine commented on #21
Thanks for the feedback. I think the Swift 3 conversion info is stored at the `.xcodeproj` level, but I’m not sure.

What method are you using to import AcknowList into your project (drag n drop files, CocoaPods, etc)?

[2016-10-12 22:00] liyukuang commented on #21
Thanks for your repo! I was using CocaPods for installing, and then I opened the workspace and Xcode detected AcknowList was written with earlier version of swift and asked me to convert it to Swift 3. I saw in other repo (the Eureka) that people mentioned you need to add Swift version 3.0 somewhere?

[2016-10-13 07:55] vtourraine commented on #21
That's interesting. So CocoaPods apparently started using a `.swift-version` file to specify the Swift version, and the latest AcknowList (v1.1) does include that file. But currently, I think you need a beta version of CocoaPods (v1.1.0.rc.x) to apply this bit of configuration.

So hopefully it's in the process of being fixed by default, but for now it requires a bit of extra work. Please let me k

[2016-10-13 13:34] OliverZiegler commented on #21
But Xcode also shows code changes after selecting "Convert to Swift 3 Syntax".

As I can see its only the change from `public` to `open`.

Good explanation for the differences: http://stackoverflow.com/a/38950955/2408916

So why would you prevent people from subclassing AcknowListViewController?

[2016-10-13 14:32] vtourraine commented on #21
You’re totally right, that’s an important distinction. And that should totally be `open`, because I agree the class should be subclassable. Do you want to send a quick pull request?

[2016-10-14 07:47] OliverZiegler commented on #21
Here you are ;)

[2016-10-17 01:40] naoty opened #23 "How to filter acknowledgements by its type"
I previously sent a pull request (https://github.com/vtourraine/AcknowList/pull/17). But, I wonder how I should filter acknowledgements by its `type`.

In my opinion, `AcknowListViewController`'s `acknowledgements` property should be `public` or `AcknowListViewController` should provide methods to filter by them.

What do you think?

[2016-10-17 15:51] vtourraine commented on #23
You’re correct, one piece of API is missing here. As you suggested, the obvious solution would be to mark the `acknowledgements` property as `public` (or rather `open`). It seems to me like a better solution would be to add a new initializer taking an array of `Acknow` as the parameter, but I think this would have limitations given the weird potential life cycle of view controllers (loaded from NI

[2016-10-18 02:18] naoty commented on #23
OK. I will send pull requests to mark `acknowledgements` property as `open` in Swift 3 and to mark it as `public` in Swift 2.3.

[2016-10-18 14:54] vtourraine commented on #23
Implemented with #24 and #25

[2016-10-18 14:54] #23 closed

[2017-01-03 10:21] vtourraine commented on #20
Closing this issue, need more info to move forward.

[2017-01-03 10:21] #20 closed

[2017-01-03 10:21] vtourraine commented on #21
Fixed with #22

[2017-01-03 10:21] #21 closed

[2017-04-18 03:06] irace opened #28 "Ability to distinguish between development pods"
Unsure if this is possible or not, but it’d be great if `Acknow` had a `let isDevelopmentPod: Bool` property on it, to allow development pods to be more easily filtered out.

[2017-04-19 09:09] vtourraine commented on #28
That’s a very interesting idea, I can definitely see that being useful.

I’m assuming the choice between ”dev” and “prod” would have to be explicit, because I don’t know any standard way to detect that from the library itself.

So how would you like to specify that? Offer an initializer with 2 arrays of `Acknow`, and a `Bool`/`enum` to switch between the two?

[2017-04-19 13:39] irace commented on #28
Interesting – yeah, I see what you mean. The `Pods-acknowledgements.plist` file doesn’t give any way to disambiguate.

I wonder if this is really an issue that should be opened on the CocoaPods repository itself, asking for some kind of “development pod or not” metadata flag to be added to that repository.

Basically, I use development pods to organize private, first-party code, but don’t really w

[2017-04-19 13:48] vtourraine commented on #28
Exactly. And just to be clear, you don’t need to subclass `AcknowListViewController` to filter the acknowledgements array.

I would be interested to hear other people’s takes on that problem. I would bet that’s a fairly common use case. I’m afraid the solutions are very app-specific though.

[2017-06-29 22:51] kevinvanderlugt opened #29 "Thoughts on handling special licenses"
Howdy,

Thanks for this super useful tool!  I just started using it and it's super helpful.  One issue (not with your project) but when using GooglePlacePicker pod and a few other Google pods they actually have this weird license

![simulator screen shot jun 29 2017 2 21 44 pm](https://user-images.githubusercontent.com/1927969/27713827-5e1a316a-5ce2-11e7-8141-7b1a80b5c99a.png)

I was wondering if

[2017-07-07 15:08] vtourraine commented on #29
Hello Kevin, and thanks for your feedback!

I agree that this kind of licenses is problematic, but it seems like there’s no good universal solution.

When I need to edit the licenses, I just update the `acknowledgements` property on `AcknowListViewController` before presenting it. No need to subclass. Would that be a reasonable solution, in the context of your project?

[2017-07-10 16:57] klwoon commented on #29
Could you post some example here how to update the `acknowledgements` property? I tried to modify the `text` but it won't allowed: `Cannot assign to property: 'text' is a 'let' constant`.

Thanks.

[2017-07-11 10:07] vtourraine commented on #29
@klwoon Sure. Here’s an example, I manually set the `acknowledgements` property with hard-coded values:

[code]

An individual `Acknow` instance is immutable, this is why you had the error when you tried to edit the `text` property directly. You need to edit the `acknowledgements` array instead. Note that you can also use the Swift `filter` method to keep some values for the original array.

[2017-07-11 10:13] klwoon commented on #29
Thanks for the example!

[2017-07-12 03:39] klwoon commented on #29
@vtourraine Can you help with this error?

`let ack = Acknow(title: "ABC", text: "ABC", license: "ABC")`

` 'Acknow' initializer is inaccessible due to 'internal' protection level`

[2017-07-12 07:55] vtourraine commented on #29
@klwoon Are you using the latest version of the library (v1.2)?

[2017-07-12 07:58] klwoon commented on #29
@vtourraine Yes, v1.2

[2017-07-12 08:16] vtourraine commented on #29
@klwoon Can you please open a new GitHub Issue, and we’ll discuss it there? Thanks!

[2017-07-12 08:22] klwoon opened #30 "'Acknow' initializer is inaccessible due to 'internal' protection level"
`let ack = Acknow(title: "ABC", text: "ABC", license: "ABC")` gives the error:

`'Acknow' initializer is inaccessible due to 'internal' protection level`

Using v1.2

[2017-07-12 08:25] klwoon commented on #30
I just check the `Acknow.swift` under Pod folder, it's different with your latest commit.

[2017-07-12 08:37] vtourraine commented on #30
That’s... interesting. And if you manually update `Acknow.swift` to the latest version (1.2 or master), does it compile?

[2017-07-12 08:50] klwoon commented on #30
If point to `master` branch then no more compilation error:
`pod 'AcknowList', :git => 'git@github.com:vtourraine/AcknowList.git', :branch => 'master'`

Could it be the podspec is referring to an older version? (I'm no cocoapods expert)

[2017-07-12 09:08] vtourraine commented on #30
I just checked, and you’re right, the last CocoaPods version isn’t pointing at the latest code changes. This might be related to the new Swift/Xcode version, and how default initializers get exposed now, but anyway, I should definitely update the CocoaPods configuration and push a new version to fix this issue. I’ll take care of this later today.

Thank you so much for the feedback! 👍

[2017-07-12 09:09] klwoon commented on #30
Thanks for the great work!

[2017-07-12 09:09] #30 closed

[2017-07-12 13:00] vtourraine commented on #30
ℹ️ _Released version 1.2.1 on CocoaPods_

[2017-07-12 13:00] #28 closed

[2017-09-05 15:24] #29 closed

[2017-09-13 14:49] vtourraine opened #32 "iPhone X support"
The `AcknowViewController` view is cropped on the iPhone X in landscape mode. We need to update the layout to accommodate the “safe area” frame.

<img width="936" alt="screen shot 2017-09-13 at 16 47 37" src="https://user-images.githubusercontent.com/886053/30384032-727abcae-98a3-11e7-9204-eb63415f1964.png">

[2017-09-15 11:31] vtourraine commented on #32
Fixed with 1b2f4d1b6e9700b9a54f6cd3659b12a3adf73d9e

[2017-09-15 11:31] #32 closed

[2017-09-29 18:43] simonbromberg opened #33 ""don’t copy the file itself, just add a reference""
How do you do that? Asking for a friend.
 🤷 😅

[2017-09-29 18:54] simonbromberg commented on #33
Oh right, drag from Finder but don't select "copy files if needed" or just "File" > "Add files to …"

[2017-09-29 19:33] simonbromberg commented on #33
Hm, the file generated by pod install includes the target name, but the source code is just looking for a file named "Pods-acknowledgements" without the target name.

[2017-10-02 08:41] vtourraine commented on #33
Hello Simon, and thanks a lot for your feedback!

We should probably be more explicit about the Xcode “reference” in our documentation; as you noted, the setup can be tricky.

But to address your latest issue: you don’t have to rename the plist file, instead I would suggest that you instantiate the view controller like so:

[code]

[2017-10-02 12:05] simonbromberg commented on #33
But then why does it use that default never that doesn't match the one the
pod auto generates?

[2017-10-02 13:20] vtourraine commented on #33
When I first created this library, that was the default plist file name, so it made sense. I added the option to specify the file path/name later on, but never removed the original initializer. Maybe there are cases where it’s still useful, but maybe not. If not, I should probably remove that init, or at least deprecate it.

[2017-10-02 14:12] simonbromberg commented on #33
Yea, or you could change the default name to match the actual default name…

[2017-10-02 14:32] vtourraine commented on #33
That’s a great idea. It’s probably more nuanced than that (dealing with spaces, capital letters, etc), but it’s definitely worth exploring. Feel free to send a pull request, otherwise I’ll try to implement that later on.

[2017-10-06 15:00] vtourraine commented on #33
@simonbromberg So... I’ve implemented your idea: https://github.com/vtourraine/AcknowList/blob/35289f87d849011749d7bd639a8ba0bcec167418/Source/AcknowListViewController.swift#L152

I was worried that some apps are probably relying on the old file name, so in order _not_ to break the current behavior, I check with FileManager if the file exists, and if not I fallback to the old behavior. I don’t rea

[2018-03-11 21:40] honkmaster opened #35 "tvOS support"
Hi,

I was trying to use `AcknowList` with tvOS, similar to `VTAcknowledgementsViewController`. However, it does not work :):

[code]

Is this just a CocoaPods or a repository/source issue?

Best

[2018-03-12 21:33] vtourraine commented on #35
Hello! No, I never got around to add tvOS support. But I just saw your branch and so... now I’m looking forward to your pull request :smile:

[2018-03-12 21:48] honkmaster commented on #35
Check.

[2018-03-13 09:59] honkmaster commented on #35
Quick question: The minimum OS version is 8.0, right? Thus, I would replace `UIFont.systemFont(ofSize: 12)` with `UIFont.preferredFont(forTextStyle: .footnote)`.

[2018-03-13 15:15] #35 closed

[2018-03-14 13:00] vtourraine opened #37 "Add Apple TV screenshots"
![acknowlist-appletv-1](https://user-images.githubusercontent.com/886053/37403710-07901b2e-2790-11e8-975f-b779fcfc3fbe.png)
![acknowlist-appletv-2](https://user-images.githubusercontent.com/886053/37403711-07c83d38-2790-11e8-9f2e-84fe2d5f6bad.png)

[2018-03-14 13:02] #37 closed

[2018-03-16 01:28] mkismy opened #38 "Compile Error"
From AcknowList 1.3, there is a compile issue on Xcode 9 with swift 3.2. It works fine on 1.2.

[code]

[2018-03-16 09:48] honkmaster commented on #35
Could you please create a new release for Cocoapods?

[2018-03-20 08:58] vtourraine commented on #38
Thanks for the feedback.

AcknowList 1.3 (and up) is only compatible with Swift 4, as mentioned in the `README` and the `.swift-version` file.

AcknowList 1.2.x supports Swift 3.

If you need explicit support for Swift 3.2, you can send a pull request that we could tag 1.2.9, for instance. But since Xcode 9 also support Swift 4, there might be a simpler solution, depending on how exactly you use t

[2018-03-20 15:58] vtourraine commented on #35
@honkmaster Just released version 1.6 with tvOS support on CocoaPods. 🚀

[2018-03-20 17:12] honkmaster commented on #35
🍻

[2018-06-13 11:55] #33 closed

[2018-07-11 21:15] agisilaos opened #40 "Licenses do not show up in AcknowListViewController"
Hello 👋 I'm trying to show the licenses of OSS libraries I use on my project using AcknowList and I can't. I followed every step on the README. I'm using version 1.2.1 of AcknowList since many of the pods I'm using aren't migrated to 4.0.

**1. I moved the appropriate file as a reference into my project:**

<img width="273" alt="screen shot 2018-07-12 at 00 03 16" src="https://user-images.githubus

[2018-07-12 09:03] agisilaos commented on #40
After messing around with it more, I had to rename `Pods-Iris-acknowledgements.plist` to  `Pods-acknowledgements.plist`. This isn't documented on the README though, or it wasn't obvious more me at least. I will try to make a PR updating the docs and make the steps more clear. 😍

[2018-07-12 09:59] #40 closed

[2018-07-23 07:47] azhang66 opened #41 "Text spacing bug on iPads"
Following commit cf5c82d, there is an issue displaying certain acknowledgements on iPads. With the exception of AcknowList's own license, all of my Pods are affected by this issue (see below pictures for an example with Alamofire). This did not occur in v1.6.0, so I believe it is a regression caused by cf5c82d.

**EDIT**: cf5c82d turned out to not be the problem. The problem was actually due to pr

[2018-07-29 01:29] azhang66 commented on #41
Did some more testing and it's not a regression. Sorry about that! Turned out to be an issue with licenses containing premature line breaks. I wrote a pull request to fix this here: #42

[2018-08-20 20:01] vtourraine commented on #41
Fixed with #43

[2018-08-20 20:01] #41 closed

[2018-10-05 07:00] pepejeria opened #44 "First lines of license appear below navigation bar"
The first two lines of text will appear below the navigation bar when pushing in the `AcknowViewController` controller. This could be solved by using isTranslucent false on the navigation bar, but a better solution would be to use auto-layout in the `AcknowViewController`.

<img width="419" alt="screen shot 2018-10-05 at 08 59 41" src="https://user-images.githubusercontent.com/1394550/46520664-1ee

[2018-10-06 16:57] pepejeria commented on #44
[code]

[2018-10-06 17:13] pepejeria commented on #44
I solved this by overriding `AcknowViewController`:
[code]
Here auto-layout is used to pin the textView's edges to the superviews and add set the textViews' `contentInsetAdjustmentBehavior` property to never.

[2018-10-06 17:14] pepejeria commented on #44
Another solution was to set the `AcknowViewController`'s `edgesForExtendedLayout` to `[]`, but that causes problems with the translucent navigation bar.

[2018-10-08 12:30] vtourraine commented on #44
Hello José, and thanks a lot for the feedback.

I’m trying to reproduce the issue you’re describing, but the initial scroll view offset seems fine to me (tested with iOS 9, iOS 11, iOS 12).

Are you sure you’re using the latest version of AcknowList? Can you try with the example project included in this repo?

[2018-10-09 11:11] PiotrStepien opened #45 "No licences"
I installed AcknowList from pods using _pod 'AcknowList'_ and I created a reference between _Pods-bundle name-acknowledgements.plist_ and my **main** target.

In Pods/TargetSupportFiles/Pods/Pods-bundle name-acknowledgements.plist I can see, there is no data (empty file), but in _Pods-Itaka-acknowledgements.markdown_ I can see all licences which I need. How can I fix it?

It is the way, how I crea

[2018-10-10 07:28] vtourraine commented on #45
Hello Piotr, and thanks for reaching out.

I’m not sure I completely understand the problem, but I can tell you that:

- You need the `plist` file generated by CocoaPods, not the `markdown`.
- You can initialize the main view controller directly with the name of the `plist` file (just make sure that the file is included in the target).

[code]

I hope that helps. Please let me know if you need fur

[2018-10-10 07:29] #38 closed

[2018-10-10 11:13] ApolloZhu commented on #45
This has happened to me. Deleting the Pods folder and rerun pod install solved the problem.

[2018-10-10 14:23] PiotrStepien commented on #45
I had to make `pod install` two times and then it works 👍

[2018-10-10 14:23] #45 closed

[2018-10-10 14:53] vtourraine commented on #45
Well, this is not ideal, but I’m glad to hear that you’ve managed to fix the situation. 🎉

I’ll investigate that further if more people report the same issue.

[2018-10-10 18:31] pepejeria commented on #44
I was unable to trigger this by modifying your example project. I have something like this in my app:
[code]

But couldn't trigger the issue. I guess this can be close then.

[2018-10-10 18:31] #44 closed

[2019-03-31 00:50] OkiRules opened #49 "Please update for Swift 5"
Please update for Swift 5 support

Thanks!

[2019-04-01 08:09] vtourraine commented on #49
Hello Oscar, and thank you for reaching out. Unfortunately I don’t have the latest Xcode version installed yet, so I can’t test this library with Swift 5.

If you do, feel free to open the workspace, migrate the code to Swift 5 (there’s probably very little change beyond the project settings), and send me a pull request. 🚀

[2019-04-02 00:52] OkiRules commented on #49
Hi Vincent,

I have created a pull request for this update.

Thanks!

[2019-04-02 07:44] vtourraine commented on #49
Implemented with #50

[2019-04-11 16:25] vtourraine commented on #49
@larsschwegmann I’ve tried to push the update earlier this week, but apparently Swift 5 isn’t supported by CocoaPods yet. Unless I’m missing something?

[2019-04-16 09:20] larsschwegmann commented on #49
@vtourraine Hmm, I've actually never submitted/updated a pod to the cocoapods trunk myself, but other pods that I use already upgraded to Swift 5 and successfully submitted their updated version. Take [Moya](https://cocoapods.org/pods/Moya) for example (v. 13.0.0) which uses Swift 5 and depends on Xcode 10.2

What happens exactly when you try to submit it using `pod trunk push`? ´Do you get an Err

[2019-04-17 07:14] vtourraine commented on #49
That’s interesting. So they must have used a new beta, or something like that. I’ll look into this as soon as I can, but in the meantime, you should be able to update your Podfile to request a specific commit, thus getting the Swift 5 version from `master`.

[2019-04-23 15:06] vtourraine commented on #49
My bad, I misunderstood the error I was getting when trying to push to trunk. The `pod` tool uses `xcodebuild` (a.k.a. Xcode) to check the podspec file before pushing it, and like I mentioned, I don’t have the latest Xcode version with Swift 5 installed on my machine. So that's a bummer. 😞

I’m sure I’ll manage to update my machine to Mojave and Xcode 10.2 eventually, but in the meantime, I’m open

[2019-04-23 22:05] OkiRules commented on #49
Why don’t you update your computer and Xcode? Mojave is much better than High Sierra?
On 24 Apr 2019, 12:36 AM +0930, Vincent Tourraine <notifications@github.com>, wrote:

[2019-04-24 07:52] vtourraine commented on #49
@OkiRules That’s down to professional constraints, basically out of my control.

[2019-05-16 16:58] vtourraine commented on #49
@OkiRules Good news: the Swift 5 version is finally available from CocoaPods (v1.9) 🎉

Sorry it took so long.

[2019-05-16 16:58] #49 closed

[2019-06-08 06:58] OkiRules opened #53 "Support for Xcode 11 Swift package manager?"
Is there any support coming for Xcode 11's new "Swift Package Manager"?

Thanks

[2019-06-24 11:26] alouanemed opened #54 "does not contain bitcode. You must rebuild it with bitcode enabled"
I added the library with success, but when trying to archive the app for distribution, I am getting this error:

`
:-1: '/Users/alouanemed/Library/Developer/Xcode/DerivedData/app-hcgydxapjqidfmaldslmgpvdjrff/Build/Intermediates.noindex/ArchiveIntermediates/App Beta/BuildProductsPath/Release-iphoneos/AcknowList/AcknowList.framework/AcknowList' does not contain bitcode. You must rebuild it with bitc

[2019-06-24 14:32] honkmaster opened #55 "Dark mode support"
Some colors are hardcoded in AcknowList, e.g.

`view.backgroundColor = UIColor.white`

in AcknowViewController. This does not look good in iOS 13.
Here, it should be something as

`view.backgroundColor = UIColor.systemBackground`

Same applies for all label colors etc. Thus, an update for Dark mode is required.

[2019-06-25 13:22] vtourraine commented on #55
Hello Tobias, and thanks a lot for the raising that issue.

We should use the new “semantic” colors, of course, but in my testing, the current code is fine for iOS 13. I don’t see any visual errors when building with the Xcode 11 beta and turning on Dark Mode, because all visible elements are actually relying on default values. If that’s different for you, could you be more specific (with a screen

[2019-09-05 13:38] vtourraine commented on #54
I know this issue has been open for a while, but I’m not sure what to do with it. This doesn’t look like an error caused by `AcknowList` itself.

@alouanemed Are you still stuck with this error message?

[2019-09-15 11:45] alouanemed commented on #54
I agree with you, I disabled this pluding that stores locally bitcode of all pods and it all went all.
Thank you!

[2019-09-15 11:45] #54 closed

[2019-09-15 20:38] vtourraine commented on #54
Alright then. Thank you for the clarification 👍

[2019-10-04 03:46] OkiRules commented on #53
Thanks!

[2019-10-04 03:46] #53 closed

[2019-10-04 07:48] lvnkmn commented on #53
You're welcome. However, even though I've been using it successfully for a bit now, the PR has not been merged yet..

[2019-10-04 15:12] vtourraine commented on #53
Hello, and sorry for my lack of response to the Swift Package Manager issues and pull requests. I just want to learn a bit more about SPM before merging it in, but I intend to do it soon. Thanks for your patience.

[2019-10-05 15:09] tradingstratagem commented on #53
I'm also trying to move all the dependencies to SPM

[2019-10-05 15:16] lvnkmn commented on #53
@tradingstratagem if you don’t like waiting, you van use my fork (the one from the PR mentioned above) it works.

@vtourraine there’s really not much to it, but feel free to do more research 👌

[2019-10-05 15:22] tradingstratagem commented on #53
I can wait a couple of days/weeks, but thanks for the suggestion

[2019-10-07 10:12] vtourraine opened #59 "Swift Package Manager: include localization Bundle"
How can we include the existing localization Bundle with SPM?

[2019-10-07 10:13] vtourraine opened #60 "Swift Package Manager: switch to default folder structure"
Should we switch to the default Swift Package Manager structure (`Sources`, `Tests`, one folder by target, etc)?

[2019-10-07 10:15] vtourraine opened #61 "Swift Package Manager: support unit tests target"
We should update the Package definition to include the existing unit test target, including the associated `plist` and `txt` files as resources.

[2019-10-07 10:21] vtourraine commented on #53
Good news: I’ve merged the pull request and tagged the changes, so you can now install this library with SPM directly from Xcode.

That being said, we still have a couple of issues with the current implementation (resources, folder structure, unit tests), as summarised here: https://github.com/vtourraine/AcknowList/pull/58#issuecomment-538933567

Please use the dedicated GitHub issues for further

[2019-10-07 16:53] ApolloZhu commented on #59
I don't think this is a thing yet, but there's a [proposal](https://github.com/abertelrud/swift-evolution/blob/package-manager-resources/proposals/NNNN-package-manager-resources.md) in development and [discussions in the forum](https://forums.swift.org/t/swift-pm-bundles-and-resources/13981)

[2019-12-24 10:38] Wooder opened #62 "Acknowledgement details not "scrollable" on tvOS"
I've found following bug on tvOS 13 (maybe also earlier versions):

**"Acknowledgement Details" are not scrollable if the length of the "FooterText" in `Pods-acknowledgement.plist` exceeds the screen height.**

**Reproduce:**
- Open the "AcknowExampleTV"-Xcode-Project
- Open `Pods-acknowledgement.plist` and duplicate the content of "Item1"->"FooterText"
- Start the app and try to scroll the conten

[2020-01-07 16:14] #62 closed

[2020-02-05 09:54] plu opened #64 "Layout issue of header label on iPad with formSheet presentation style"
<img width="901" alt="Screenshot 2020-02-05 at 13 05 42" src="https://user-images.githubusercontent.com/31597/73840336-3f802880-4818-11ea-8eba-16b9aac90f40.png">

[2020-04-12 14:07] jalbano commented on #55
Related to this, I'd like to be able to control the status bar color (light vs. dark) for the view controllers. I can subclass the main one but the ones that get pushed within your code are out of my reach.

[2020-04-12 20:10] vtourraine commented on #55
@jalbano Thanks for the feedback! You’re right, it should be easier to customize this kind of thing. I guess for now you could override the `tableView(_ tableView: UITableView, didSelectRowAt indexPath: IndexPath)` method, to instantiate your own detail view controller?

[2020-04-13 19:48] #55 closed

[2020-05-21 15:24] fluidvm opened #67 "'automaticDimension' has been renamed to 'UITableViewAutomaticDimension'"
https://github.com/vtourraine/AcknowList/blob/467c4cb1474fec99156d52671f0c5dc84b1ae315/Source/AcknowListViewController.swift#L455

[2020-05-21 15:38] #67 closed

[2020-05-21 15:40] fluidvm commented on #67
The new compiler is just screwed.

[2020-09-16 17:30] jminutaglio opened #68 "Header/Footer Breaks in Xcode 12/iOS 14"
In Xcode Version 12.0 (12A7208) & iOS 14, the header and footer views, which should expand to the display size width, now do not format correctly.  This is regardless of setting them in code or in the .plist.

TY in advance for looking at this, we love AcknowList!  :)

<img width="575" alt="Screen Shot 2020-09-16 at 1 27 00 PM" src="https://user-images.githubusercontent.com/49879291/93371601-9d4e0

[2020-09-17 13:23] vtourraine commented on #68
Thanks a lot for reporting this issue!

I’ve pushed a quick fix to master, and I’ll release a proper CocoaPods pod update soon.

[2020-09-17 20:15] vtourraine commented on #68
Fixed with version 1.9.5 🚀

[2020-09-17 20:15] #68 closed

[2021-02-04 13:48] vtourraine commented on #59
Implemented by #72

[2021-02-04 13:48] #59 closed

[2021-02-04 13:49] vtourraine commented on #60
Implemented by #72

[2021-02-04 13:49] #60 closed

[2021-02-04 16:17] #61 closed

[2021-02-06 15:46] iDevelopper opened #76 "Header Label Localization"
Why the default header label is not localized?

[2021-02-08 13:16] vtourraine commented on #76
Are you referring to `This application makes use of the following third party libraries:`?

Originally, I found this line a bit redundant with the title of the screen. On some projects, it’s not entirely accurate (it’s not always “third party libraries”). It’s also a bit uncommon to have an introduction text like that at the top of a table view.

So it wasn’t included when we started localizing th

[2021-02-08 13:23] iDevelopper commented on #76
Yes

And I think about how to modify the code so that it supports the storyboard. Which is not currently the case.

[2021-02-08 13:30] iDevelopper commented on #76
I modified the init but it is not sufficient.
[code]

[2021-02-08 13:33] vtourraine commented on #76
Ha, that’s a bug then. I’ll look into it, thanks for pointing this out 👍

[2021-02-08 13:48] iDevelopper commented on #76
The framework does not take into account the texts entered in the IBInspectable fields.

[2021-02-08 14:18] vtourraine commented on #76
@iDevelopper Please check out #78

[2021-02-08 15:02] iDevelopper commented on #76
I think you need to change the initializer code as well. Try to change the background color of the table view in the storyboard, for example.

    public required init?(coder aDecoder: NSCoder) {
        super.init(coder: aDecoder)
    }

[2021-02-27 16:11] iDevelopper opened #79 "AcknowList 2.0.0 beta 1"
What about Cocoapods?

[2021-03-01 09:51] vtourraine commented on #79
It should be available with CocoaPods, you just need to opt-in since it’s marked as beta. Example here: https://github.com/CocoaPods/CocoaPods/issues/7086#issuecomment-332888182

[2021-03-01 10:59] iDevelopper commented on #79
Yes I know but I don't understand why you don't want to tag and push to Cocoapods. If you are not sure about all updates and if you need new updates, you will push a new version...

[2021-03-01 12:13] vtourraine commented on #79
Well, I’m just slowly surfacing the update, from development version to an actual released build. A couple more weeks, and I’ll release the actual `2.0.0` update.

[2021-03-01 12:13] #79 closed

[2021-03-18 09:45] vtourraine opened #80 "SwiftUI"
How should we update this library to offer a SwiftUI interface?

- Is it better to offer it as a new option, or create a distinct library?
- Do we need to update the model for a Combine API?

Any ideas and suggestions are welcome!

[2021-03-22 15:38] #76 closed

[2021-03-24 09:41] vtourraine commented on #64
Fixed with #82

[2021-03-24 09:41] #64 closed

[2021-04-09 11:41] sgade commented on #80
Would love to see a SwiftUI interface. I'm currently using version 2.0 in a SwiftUI `NavigationView`. It already works well to embed it using an `UIViewControllerRepresentable`. You could add this to the library to make it usable directly.

The creation is pretty straight forward. However, it requires to set a `navigationBarTitle` and `edgesIgnoringSafeArea` on the represented view controller. Thi

[2021-05-03 15:44] vtourraine commented on #80
You can check out the [swiftui](https://github.com/vtourraine/AcknowList/tree/swiftui) branch for a work-in-progress SwiftUI implementation.

[2021-05-10 15:31] #80 closed

[2021-06-22 08:05] grovdata opened #84 "Incorrect sorting when combining plist with custom entries"
I discovered a problem when you combine Cocoapods plist with additional entries.

[code]

This does not work out so great, as `Foo` will always be appended to the end of the list, and you expect them to be sorted. I use this as workaround:

[code]

It could be solved in a number of ways, perhaps more initialisers with `customAcknowledgements: [Acknow]` as argument, or just sort the entries in `did

[2021-06-23 15:23] vtourraine commented on #84
Thank you for submitting this issue!

I understand your point, but maybe if someone wants to customize the array of `acknowledgements`, then they should be responsible for sorting them too? To put it differently: what if someone _wants_ a different order?

Like you said, it could be solved in a number of ways, but I’m not sure which one would be the most appropriate (not adding complexity, but kee

[2021-09-15 04:27] jminutaglio opened #89 "Assertion failure in iOS 15"
Using:
[code]

On Xcode 13 RC (Version 13.0 (13A233)) ->

On Simulator iOS 14.5 -> expected behavior (AcknowList viewController shows)

On Simulator iOS 15.0:
[code]

Same codeline, just an error on iOS 15...

Any ideas?  ty in advance.  AcknowList is awesome btw!

[2021-09-15 07:41] psalzAppDev commented on #89
It is probably a bug that will be fixed in later Xcode versions - some problems with the initializers not visible to objc. However, for now, I got it resolved using this: https://stackoverflow.com/questions/69092599/xcode-13-beta-5-error-uiviewcontroller-is-missing-its-initial-trait-collection

I will try to put this into a PR

[2021-09-15 08:31] psalzAppDev commented on #89
Ok, so I tried my solution, but it turned out that your last convenience initializer that finally calls super.init(style:) uses an array of Acknow, which is a struct. Therefore, this initializer cannot be exposed to `@objc`.

The solution would be to expose all convenience initializers to `@objc` and then overriding `init(style:)`, like this:
[code]

And then calling `self.init(style: style)` in t

[2021-09-15 08:39] psalzAppDev commented on #89
So this actually works. I'll create a PR for you to test and then you can decide whether you want this hacky and breaking change or wait until Apple fixes this bug (hopefully...)

[2021-09-15 14:37] jminutaglio commented on #89
@psalzAppDev - used your code/fork and confirmed it works here also.  TY so much!  iOS 15 is coming bugs or not!  :)

[2021-09-16 19:45] vtourraine commented on #89
Thank you so much for reporting this issue, and for preparing the pull request!

I’m not sure we should merge it as-is, though. Is it really just a bug, or just how the latest Swift compiler works? I would love to better understand the issue before touching the initializers interface. Any indication about what is going on exactly?

But in the meantime, I’m glad we have your workaround for folks wh

[2021-09-16 19:54] psalzAppDev commented on #89
I agree, this is a messy fix and I hope that this is an internal bug that will soon be fixed. There is not much information around about it though. I can't believe that this behavior is intended.

On the downside, anyone who uses your framework will notice that the app crashes on iOS 15. So hopefully they find their way to this thread and can decide whether to use my PR for now to keep their app w

[2021-09-17 00:15] jminutaglio commented on #89
My $0.02 - this will be the shipping iOS 15 and the impact is that AcknowList will fail on open every time - so the impact to AcknowList is as major as it gets, starting next week when iOS 15 drops.  I'd implement the workaround unless & until Apple's build allows the current initializer code to function without failure.  Considering the length of the iOS 15 beta I'd suggest it won't be anytime so

[2021-09-17 12:59] vtourraine commented on #89
@jminutaglio Agreed, we should address that as soon as possible.

I have found a different solution, though. The problem somehow comes from the interoperability between Swift and Objective-C code. If we remove the `@objc` annotations from the initializers, there’s no more crash. I would also mean that the library would no longer be usable from Objective-C code. That’s bad, but I think I would rath

[2021-09-17 13:58] jminutaglio commented on #89
@vtourraine - makes sense to me.  I'd guess most projects have moved from Obj-C to Swift at this point, so the impact to folks using AcknowList may be minor/none...

[2021-09-17 15:17] #89 closed

[2021-09-21 19:49] vtourraine commented on #89
Hum, it gets weirder indeed. The crash is fixed for the “AcknowExampleManual” project, but not for the “AcknowExampleCocoaPods”. 😞 Looking into it...

[2021-09-21 20:37] vtourraine commented on #89
Alright, I reimplemented the `AcknowListViewController` default initializer, and it seems to really fix this issue. I’ve released it as version `2.0.3`. Please check it out, and let me know if that works for you.

[2021-09-21 21:17] jminutaglio commented on #89
@vtourraine - looks good here.  Confirmed fixed!

TY!

[2021-09-22 08:08] vtourraine commented on #89
@jminutaglio Glad to hear it, thanks for the feedback 👍

[2021-09-28 01:16] inoue0124 opened #93 "SwiftUIView is not available on v2.0.3"
I installed the library via CocoaPods and could not use `AcknowListSwiftUIView`. Compiler said `Cannot find 'AcknowListSwiftUIView' in scope` when I tried to initialize like `let view = AcknowListSwiftUIView()` .

And I found that there are no files of SwiftUI classes in the v2.0.3 release zip.

Could I ask how I can use it for SwiftUI?

[2021-09-28 07:50] vtourraine commented on #93
Hello 👋

The SwiftUI interface is not included in the 2.0.3 release. The plan is to release it with version 2.1, and in the meantime, you can test them on the `main` branch.

Please let us know if you have any feedback on their current implementation.

[2021-09-28 08:09] inoue0124 commented on #93
OK, I will try them on the main branch!
Thank you.

[2021-09-28 08:09] #93 closed

[2021-10-04 12:43] iadcialim opened #94 "Return the library details in csv"
This is a great tool!
But I think it's cool to have the list to come in **csv** format. This is for reporting purposes.

[2021-10-14 06:37] iadcialim opened #95 "Change VC title "Acknowledgements""
Is there a way to change the title to some other strings?

[2021-12-08 08:28] JulesMoorhouse opened #96 "Plist via SPM"
Hi,

I don't believe the SPM will be creating a plist from what I can see, unlike cocoa pods.

Would this need to be created manually ?

This would be an implementation with swiftui.

Thanks in advance,

Jules.

[2021-12-13 09:02] vtourraine commented on #96
Hello Jules,

You’re correct, SPM doesn’t generate a plist listing its packages. You could either create this plist yourself (manually or automated), or hardcode instances of `Acknow` and pass them to the list controller.

[2022-01-04 10:19] mltbnz opened #97 "SwiftUI Views not included in latest Release"
I figured I had to use the `master` branch to use the SwiftUI View. Since the `README` referenced the SwiftUI Views I was under the conception I just copy the repo url and punch it in Xcode but that didn't work which is totally fine and I am happy with the tool (❤️) but I wanted to raise it here nonetheless

[2022-01-04 21:02] #96 closed

[2022-01-04 21:02] #95 closed

[2022-01-04 21:07] vtourraine commented on #94
Thank you for the suggestion!

This could be interesting, but I imagine it would only be useful for a very limited number of users. So I don’t think it would make sense to include it to the main library.

Feel free to link a Gist or a clone with your implementation here.

[2022-01-04 21:07] #94 closed

[2022-01-12 20:41] vtourraine commented on #97
Good news: I’ve just released version 2.1.0, which includes the SwiftUI classes. 🎉

[2022-01-12 20:41] #97 closed

[2022-01-23 02:12] joeljfischer opened #98 "SwiftPM usage has docc included in build files"
I get the error

[code]

It seems that the docc needs to be explicitly removed from the SwiftPM package or marked as not a build file.

[2022-01-25 08:37] #98 closed

[2022-01-25 08:41] vtourraine commented on #98
Hello Joel, thank you for reporting this!

[2022-02-16 10:39] cseh17 opened #99 "'NSInternalInconsistencyException' on iOS 15.2"
I added AcknowList to my project probably in iOS 13, and have never touched it since. But recently I checked the app and it seems that in iOS 15 I get the following exception:

`Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: '-[UITableViewController loadView] instantiated view controller with identifier "UIViewController-0H5-Tf-yWq" from storyboard "Main", bu

[2022-03-01 14:36] brainfuel commented on #45
Same issue

[2022-03-11 19:01] PeterDNardo commented on #99
Does this happen intermittently?

I have a similar case, but it doesn't happen on all devices

[2022-03-29 07:51] vtourraine commented on #99
I’m trying to reproduce this issue. Can someone reliably reproduce it, ideally with one of the example projects included in this repo? If so, please share your macOS and Xcode version, and whether this is an M1 machine. Thank you in advance 🙌

[2022-05-02 19:14] martnst opened #101 "How to include licenses of Swift packages"
Hey there,

not sure if I just missed it in the docs... is there any way of automatically including the used swift packages as well.

In my App, I have only 2 dependencies left on Cocoapods while the rest are migrated to SPM. Would be great if it was somehow possible to mix both.

Cheers

[2022-05-03 08:40] vtourraine commented on #101
Hello Martin, and thanks for your question!

Unfortunately, you’re right: there’s no way to automatically include the SPM list of dependencies for a given project with AcknowList. Right now, you need to either hard-code the list (as an array of `Acknow` instances), or create a plist similar to what CocoaPods is generating, and use the auto import.

But that would be my top-priority feature request

[2022-05-03 16:27] martnst commented on #101
Hi @vtourraine,

thanks for sharing your thoughts on this.

I understand now, it's tricky. I guess there is even no one-single-way of providing a license text as a Swift Package. However, having / including a list of packages is a good staring point & better than nothing, I would say.

Generally speaking, I am a big fan of simply baking such kind of stuff into the app. So gathering everything at b

[2022-05-03 20:59] vtourraine commented on #101
Alright, let’s do this 🚀

I’ve added a new branch: https://github.com/vtourraine/AcknowList/tree/parse-packages

Right now, it only parses the titles and repository URLs from `Package.resolved` files (I’ve actually found 2 different formats for those files). I’ll try to implement the rest later. It does change the model a little bit, so in theory this should be released as a major new version. I’l

[2022-05-05 08:03] martnst commented on #101
🤩 Awesome!

[2022-05-24 08:59] vtourraine commented on #101
Alright, I’ve opened a pull request with the new SPM support (with `Package.resolved` files): #102.

There’s also a good amount of refactoring, especially around `AcknowParser` to manage the fact that we support multiple file types. Please give it a try, and let me know what you think. 🙌

[2022-06-09 12:12] martnst commented on #101
Hey @vtourraine,

I just gave it a first try and it works great so far.

However, I am facing a crash on my private Swift packages, see https://github.com/vtourraine/AcknowList/pull/102/files#r893423676 pls.

For me, it is easy to work around this by simply filtering my private packages, which I am about to do anyways. However, you may wanna add some kind of a URL validation to prevent client apps

[2022-07-13 10:07] martnst commented on #101
Hey @vtourraine how are things going on your side?

I think PR #102 is done now, thus can get merged and eventually released.

Bests, Martin

[2022-07-20 14:49] #101 closed

[2022-07-20 14:53] vtourraine commented on #101
Update: it’s now merged into `main` 🎉

As previously discussed, this will be a “version 3” update, given the amount of interface changes. I’m thinking of releasing it alongside Xcode 14 in September. Probably not much that will change because of iOS 16/Swift 5.7 per se, but that’s always a nice time to move things forward.

[2022-07-27 17:10] hdmdhr opened #103 "AcknowList 2.1.1 not working in a pure SPM project"
My project is not using CocoaPods  (so I do **NOT** have a .xcworkspace file), all third party frameworks are added from SPM. And I strictly followed the installation instructions for SPM:

1. Click on File → Add Packages….
2. Enter https://github.com/vtourraine/AcknowList.
3. Select the version you’d like to use.
4. Add the Package.resolved file generated by Xcode to your main target: drag and dr

[2022-07-27 19:57] vtourraine commented on #103
Thank you for your feedback!

The problem here is that you’re using the latest “tagged” release (version 2.1.1), but the `Package.resolved` code hasn’t been included yet. It’s available on the `main` branch, so you see it in the documentation by default when you browse the repo on GitHub. Sorry for the confusion! It will be part of the next major release (version 3.0.0).

When you import the Ackno

[2022-07-27 20:19] hdmdhr commented on #103
Hi Vincent, thank you for your prompt response!

And yes! With your suggestion, I managed to make AcknowList work with SPM! All I did was to use `main` branch instead of version as you suggested, and it worked!

![image](https://user-images.githubusercontent.com/21206584/181364266-6e25b1dd-6399-4de4-8e6a-9c1534af5530.png)

Thanks a lot for your help, and hope your next major release go smoothly!

[2022-07-27 20:19] #103 closed

[2022-07-27 20:31] vtourraine commented on #103
Awesome, thank you for the confirmation! And please let me know if you have any suggestions or ideas regarding the SPM Packages support. It’s always easier to change things before it gets included in a public release.

[2022-11-14 02:27] HenryGlendening opened #105 "Dependency licenses are not displaying"
I'm using SwiftUI and presenting the `AcknowListSwiftUIView`, init'd with `AcknowParser.defaultPackages()` to load my `Package.resolved` file.

When I run my app, my NavigationLink successfully presents the AcknowListSwiftUIView, showing a scrolling list of all of the app's dependencies. When I select one, the app navigates to a new screen that shows the dependency's name at the top, but the rest

[2022-11-15 09:17] vtourraine commented on #105
Hello @HenryGlendening,

Thanks a lot for your feedback! When we added SPM support in AcknowList 3.0, I’m afraid I forgot to update the SwiftUI view to handle acknowledgements with a URL but no text.

The good news is that it shouldn’t be too hard to fix that. I’ve already created a branch with a pull request that you can test. Please let me know if that works for you: https://github.com/vtourrain